body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navbar styling */
#nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#0c425d;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#navbar h1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/* Link hover underline effect */
a {
    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
}

a::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Background image styling */
.sus-landing, .sus-materials, .sus-carbon, .sus-waste{
    height: 105vh;
    color: #212121;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sus-landing > h1, .sus-materials > h1, .sus-carbon > h1, .sus-waste > h1{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 3rem;
    width: 60vw;
}
.sus-landing{
    animation: onLoad 2s;
}

@keyframes onLoad {
    from {
        opacity: 0;
        /*  transform: translateY(-10%);*/
    }
    to {
        /* transform: translateY(0);*/
        opacity: 1;
    }
}
@keyframes h1Scroll {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.sus-landing{
    background-image: url("/images/1.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 200;
}
.sus-materials{
    background-image: url("/images/2.png");
    background-size: cover;
    background-attachment: fixed;
}
.sus-carbon{
    background-image: url("/images/2.5.png");
    background-size: cover;
    background-attachment: fixed;
}
.sus-waste{
    background-image: url("/images/3.png");
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 768px){
    .sus-landing > h1, .sus-materials > h1, .sus-carbon > h1, .sus-waste > h1{
        font-size: 2rem;
        width: 80vw;
    }
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #EBF3F7;
    text-align: center;
    z-index: 1;
    padding: 20px 0;
    box-sizing: border-box;
}

.footer-left {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left img {
    width: 100%;
    height: auto;
    object-fit: contain;
    
}

.footer-middle {
    text-align: left;
    width: 20vw;
    
    color: rgba(128, 128, 128, 0.718);
}

.footer-middle h2 {
    text-align: center;
   
}
.footer-middle h3{
    font-weight: 400;
}

.footer-right {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footer-right a {
    color: black;
    text-align: left;
}
.footer-right a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.footer-right a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Social container styling */
.social-container {
    text-align: center;
    margin: 0;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    background-color: #10283D;
    padding: 1vw;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.social-icons a:hover {
    background-color: #10283D;
}

.social-icons i {
    font-size: 1.5rem;
}
