body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navbar styling */
#navbar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    z-index: 1000;
    flex-direction: row;
    background-color:#10283D;
}

#navbar h1 a, h1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 2rem;
}
#navbar > h1 > a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.menu-items{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}
.menu-items a{
   margin-left: 5vw;
}

/* Link hover underline effect */
a {
    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
}

a::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Burger menu styling */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 480px) {
    .newbutton{
        position: absolute;
        top: 20%;
        left: 18%;
        z-index: 99;
        display: block;
    }
    #navbar {
        justify-content: space-between;
        height: 5vh;
    }

    .burger-menu {
        display: flex;
        width: 10%;
        padding-left: 2%;
    }

    .menu-items {
        position: fixed; /* Change to fixed for better positioning */
        top: 0;
        right: -100%;
        height: 100vh;
        width: 60%; /* Adjust width for better spacing */
        background-color: #10283D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 1001;
        box-sizing: border-box;
    }

    .menu-items h1 {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 20px 0;
    }

    .menu-items h1 a {
        color: white;
        display: block;
    }

    .menu-items.active {
        right: 0;
    }
}


/* Background image styling */
.sus-landing, .sus-materials, .sus-carbon, .sus-waste{
    height: 105vh;
    color: #212121;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sus-landing > h1, .sus-materials > h1, .sus-carbon > h1, .sus-waste > h1{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 3rem;
    width: 60vw;
}
.sus-landing{
    animation: onLoad 2s;
}

@keyframes onLoad {
    from {
        opacity: 0;
        /*  transform: translateY(-10%);*/
    }
    to {
        /* transform: translateY(0);*/
        opacity: 1;
    }
}
@keyframes h1Scroll {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.sus-landing{
    background-image: url("/images/1.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 200;
}
.sus-materials{
    background-image: url("/images/2.png");
    background-size: cover;
    background-attachment: fixed;
}
.sus-carbon{
    background-image: url("/images/2.5.png");
    background-size: cover;
    background-attachment: fixed;
}
.sus-waste{
    background-image: url("/images/3.png");
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 768px){
    .sus-landing > h1, .sus-materials > h1, .sus-carbon > h1, .sus-waste > h1{
        font-size: 2rem;
        width: 80vw;
        text-align: start;
    }
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #EBF3F7;
    text-align: center;
    z-index: 1;
    padding: 20px 0;
    box-sizing: border-box;
}

.footer-left {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left img {
    width: 100%;
    height: auto;
    object-fit: contain;
    
}

.footer-middle {
    text-align: left;
    width: 20vw;
    
    color: rgba(128, 128, 128, 0.718);
}

.footer-middle h2 {
    text-align: center;
   
}
.footer-middle h3{
    font-weight: 400;
}

.footer-right {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: rgba(128, 128, 128, 0.718);
}

.footer-right a {
    color: rgba(128, 128, 128, 0.718);
    text-align: left;
}
.footer-right a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.footer-right a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Social container styling */
.social-container {
    margin-top:5vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.social-icons li {
    margin-bottom: 5vh;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    background-color: #10283D;
    padding: 1vw;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.social-icons a:hover {
    background-color: #10283D;
}

.social-icons i {
    font-size: 1.5rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  
  
    .intro-text {
        width: 80%;
        top: 5%;
    }

    .intro-text h1 {
        font-size: 2rem;
    }

    .intro-text p {
        font-size: 1rem;
    }

    
    .cards-flex {
        height: 50vh;
        flex-direction: column;
        width: 80%;
        margin-left: 6%;
        position: relative;
        flex-wrap: nowrap;
        margin-top: 55vh;
        
    }
    .container::before,
.container::after {
    content: "";
   background-color:#10283D ;
    position: absolute;
}
    .container .box {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
       
    }

    footer {
        flex-direction: column;
    }

    .footer-left,
    .footer-middle,
    .footer-right {
        width: 100%;
        
    }
    .footer-middle,
    .footer-right {
        margin-left: 2vw;
        
    }
    .social-icons{
        flex-direction: row;
    }
    .social-icons a {
        padding: 2vw;
       
    }
    
}

@media (max-width: 480px) {
    .intro-text {
        width: 90%;
        top: 3%;
    }
    .intro-text h1 {
        font-size: 1.5rem;
    }

    .intro-text p {
        font-size: 0.9rem;
    }
    .background-image{
        margin-top: 10vh;
    }
    .cards-flex {
        height: 50vh;
        flex-direction: column;
        width: 80%;
        margin-left: 6%;
        position: relative;
        flex-wrap: nowrap;
        margin-top: 55vh;
        
        
    }

    .social-icons a {
        padding: 5vw;
       
    }
 
    .container .box {
        width: 90%;
        margin-bottom: 1rem;
    }

    footer {
        padding: 10px 0;
    }

    .footer-left,
    .footer-middle,
    .footer-right {
        width: 90%;
    }
    .footer-left{
        margin-left: 25vw;
        width: 50vw;
        height: 30vh;
        display: flex;
        justify-content: center;
    }
}
   
